@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(135deg, #cc5aeb 0%, #5a42f5 80%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(135deg, #9a02cd 30%, #1000F6 100%);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

